.apropos-page {
    .h1{
        color: white;
    }
    .fond2 {
        border-radius: 25px;
        mix-blend-mode: darken;
        width: 79vw;
        height: 10vw;
        object-fit: cover;
        position: relative;
    }

    .bod2 {
        display: flex;
        justify-content: center;
        position: relative;
    }

    .accordionbouton {
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        padding-top: 1vh;
        flex-direction: column;
        width: 100%;
    }

    .accordion {
        background-color: #FF6060;
        color: white;
        cursor: default;
        padding: 18px;
        text-align: left;
        border: none;
        outline: none;
        transition: 0.4s;
        padding: 10px 20px 10px 15px;
        border-radius: 5px;
        width: 65vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        margin-bottom: 10px;
    }

    .accordion:hover {
        background-color: #ff5050;
    }

    .accordion-text {
        flex-grow: 1;
        text-align: left;
        display: flex;
        align-items: center;
        cursor: default;
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        font-weight: 700;
        background-color: rgba(0, 0, 0, 0.021);
    }

    .accordion-icon {
        transition: transform 0.4s ease;
        position: relative;
        right: 0px;
        transform: rotate(180deg);
        cursor: pointer;
    }

    .accordion-icon.open {
        transform: rotate(0deg);
    }

    .panel {
        padding: 0 20px;
        background-color: #FBFBFB;
        overflow: hidden;
        transition: height 0.4s ease;
        border-radius: 0px 0px 5px 5px;
    }

    .panel.open {
        padding: 15px 20px;
        background-color: #E5E5E5;
        width: 65vw;
        height: auto;
    }

    .panel p {
        margin: 0;
        color: #333;
        line-height: 1.5;
    }

    .accueil {
        text-decoration: none;
        color: black;
    }



    .apropos {
        text-decoration: underline !important;
    }

    .Footer {
        margin-top: 3vh;
    }

    .Accordiongroup {
        padding-top: 4vh;
        padding-bottom: 3.3vh;
    }
    @media only screen and (max-width: 1440px) {

        .fond2{
            height: 13vh;
            width: 90vw;
            border-radius: 10px;
        }
        .accordion {
            width: 80vw;
        }
           
    }
    @media only screen and (max-width: 1024px) {

        .fond2{
            height: 13vh;
            width: 90vw;
            border-radius: 10px;
        }
        .accordion {
            width: 80vw;
        }
           
    }
    @media only screen and (max-width: 768px) {

        .fond2{
            height: 13vh;
            width: 90vw;
            border-radius: 10px;
        }
        .accordion {
            width: 80vw;
        }
           
    }
    @media only screen and (max-width: 480px) {

        .fond2{
            height: 13vh;
            width: 90vw;
            border-radius: 10px;
        }
        .accordion {
            width: 80vw;
        }
           
    }
}