.Footer {
    display: flex;
    background-color: black;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 99.1vw;
}
.Footer img{
    height: 4.5vh;
    width: 6.5vw;
    padding-top: 66px;
}
.Footer h2{
    color: white;
    font-size: 24px;
    font-weight: 500;
}
.desktop-text {
    display: block;
}
.p1mobile-text, .p2mobile-text {
    display: none;
}
@media only screen and (max-width: 480px) {

    .desktop-text {
        display: none;
    }
    .p1mobile-text, .p2mobile-text {
        display: flex;
        font-weight: 400 !important;
    }
    .Footer img{
        height: 5vh;
        width: 30.5vw;
        padding-top: 66px;
    }
    .p2mobile-text{
        margin-top: 0;
    }
    .p1mobile-text{
        margin-bottom: 0;
    }
    .Footer{
        width: 100vw;
    }
}