.home-page {
    .fond {
        border-radius: 25px;
        mix-blend-mode: darken;
        width: 80vw;
        height: 10vw;
        object-fit: cover;
    }
    .overlay {
        position: absolute;
        top: 17.5vh;
        bottom: 61.5vh;
        width: 80vw;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 25px;
        z-index: 1;
        box-shadow: 0px 4px 4px 0px #00000040;
    }
    .bod {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    .desktop-text, .mobile-text {
        position: absolute;
        z-index: 2; 
        transform: translate(-50%, -50%);
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
        font-family: 'Montserrat', sans-serif;
    }
    .desktop-text {
        top: 23vh;
        font-size: 48px;
        font-weight: 700;
    }
    .accueil {
        text-decoration: none;
        color: black;
    }
    .apropos {
        text-decoration: none !important;
    }
    .t {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        flex-direction: column;
    }
    .href {
        text-decoration: none;
    }
    .desktop-text {
        display: block;
    }
    .mobile-text {
        display: none;
    }
    /* Smartphones (portrait and landscape) */
@media only screen and (max-width: 480px) {
  
    .fond{
        height: 30vw;
        width: 90vw;
    }
    .overlay{
        position: absolute;
        top: 10.2vh;
        bottom: 61.5vh;
        height: 30vw;
        width: 90vw;
    }
  
      
      
  }
  
  
}
